# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Netlify
.netlify
netlify.toml

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify

# Optional: if you're using a local environment file that shouldn't be in git
.env*.local

.ssh/

# Comment these lines when deploying to FAA
# Do not comment when deploying to GitHub
# src/data/realData.js
# /src/data/realData.js
# nginx.conf
# .htaccess
# web.config 
# src/data/market.csv
# /src/data/market.csv
# public/market
# public/market.csv
# /public/market.csv 
