.home-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .home-main {
    flex-grow: 1;
  }
  
  .loading-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-text {
    font-size: 1.25rem;
  }
  
  .error-text {
    font-size: 1.25rem;
    color: var(--error-red);
  }